<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/i5/Downloads/Selenium_WebDriver/Single_Page_Approach/Deydam"><classes><class name="Login.LoginTests"><methods><include name="printTitle"/></methods></class></classes></test></suite>